.stylsChannelBlock{
    label {
        span {
            width: auto !important;
            margin-right: 0px !important;
        }
    }}
   
   .AutomationLabel{
    label {
        span {
            width: auto !important;
            margin-right: 0px !important;
        }
    }}

    .a11y__modals{
        .modal-content{
         width: auto !important;
         overflow: inherit !important;
        .modal-header{
         margin-right: 0px !important;
         width: auto !important;
 
         }
        } 
     }