.stylsChannelBlock{
    label {
        span {
            width: auto !important;
            margin-right: 0px !important;
        }
    }}
    .GenericModal{
       .modal-content{
        width: auto !important;
        overflow: inherit !important;
       .modal-header{
        margin-right: 0px !important;
        width: auto !important;
         display: block;
         padding: 12px;
        }
       } 
    }
    
   .AutomationLabel{
    label {
        span {
            width: auto !important;
            margin-right: 0px !important;
        }
    }}